PORT=4000
PORT_RETRY_ATTEMPTS=5
CLIENT_URL=http://localhost:5173
DB_HOST=localhost
DB_PORT=3306
DB_NAME=citizen_first
DB_USER=root
DB_PASSWORD=
DB_AUTO_CREATE_DATABASE=true
DB_SYNC_ALTER=false
DB_SYNC_FORCE=false
GEMINI_API_KEY=
GEMINI_MODEL=gemini-2.5-flash
APP_NAME=SACCFP
PUBLIC_APP_URL=http://localhost:5173
MAIL_PROVIDER=gmail
GMAIL_USER=youraddress@gmail.com
GMAIL_APP_PASSWORD=your-google-app-password
MAIL_FROM=SACCFP <youraddress@gmail.com>
MAIL_REPLY_TO=
MAIL_TIMEOUT_MS=10000
SYSTEM_ADMIN_ACCESS_KEY=CF-ADMIN-2026
TEST_ADMIN_ACCESS_KEY=CF-TEST-ADMIN-2026
DASHBOARD_CITIZEN_ACCESS_KEY=CF-CITIZEN-2026
DASHBOARD_INSTITUTION_ADMIN_ACCESS_KEY=CF-INSTITUTION-2026
DASHBOARD_RIB_OFFICER_ONE_ACCESS_KEY=CF-RIB-OFFICER1-2026
DASHBOARD_RIB_OFFICER_TWO_ACCESS_KEY=CF-RIB-OFFICER2-2026
SYSTEM_ADMIN_EMAIL=national.admin@citizenfirst.gov.rw
SYSTEM_ADMIN_PASSWORD=Admin@12345
TEST_ADMIN_EMAIL=test.admin@citizenfirst.gov.rw
TEST_ADMIN_PASSWORD=Admin@12345
DASHBOARD_CITIZEN_EMAIL=citizen.demo@saccfp.rw
DASHBOARD_CITIZEN_PASSWORD=Citizen@12345
DASHBOARD_INSTITUTION_ADMIN_EMAIL=institution.admin@saccfp.rw
DASHBOARD_INSTITUTION_ADMIN_PASSWORD=Institution@12345
DASHBOARD_RIB_OFFICER_ONE_EMAIL=rib.officer1@saccfp.rw
DASHBOARD_RIB_OFFICER_ONE_PASSWORD=RibOfficer1@12345
DASHBOARD_RIB_OFFICER_TWO_EMAIL=rib.officer2@saccfp.rw
DASHBOARD_RIB_OFFICER_TWO_PASSWORD=RibOfficer2@12345
SEED_HIERARCHY_TEST_DATA=true
