PORT=4000
PORT_RETRY_ATTEMPTS=5
CLIENT_URL=http://localhost:5173
DB_HOST=localhost
DB_PORT=3306
DB_NAME=citizen_first
DB_USER=root
DB_PASSWORD=
DB_AUTO_CREATE_DATABASE=true
DB_SYNC_ALTER=false
DB_SYNC_FORCE=false
GEMINI_API_KEY=
GEMINI_MODEL=gemini-2.5-flash
SYSTEM_ADMIN_ACCESS_KEY=CF-ADMIN-2026
TEST_ADMIN_ACCESS_KEY=CF-TEST-ADMIN-2026
DASHBOARD_ADMIN_ACCESS_KEY=CF-DASH-ADMIN-2026
DASHBOARD_OFFICER_ACCESS_KEY=CF-DASH-OFFICER-2026
DASHBOARD_CITIZEN_ACCESS_KEY=CF-DASH-CITIZEN-2026
SYSTEM_ADMIN_EMAIL=national.admin@citizenfirst.gov.rw
SYSTEM_ADMIN_PASSWORD=Admin@12345
TEST_ADMIN_EMAIL=test.admin@citizenfirst.gov.rw
TEST_ADMIN_PASSWORD=Admin@12345
DASHBOARD_ADMIN_EMAIL=oversight.admin@citizenfirst.gov.rw
DASHBOARD_ADMIN_PASSWORD=Admin@12345
DASHBOARD_OFFICER_EMAIL=officer@citizenfirst.gov.rw
DASHBOARD_OFFICER_PASSWORD=Officer@12345
DASHBOARD_CITIZEN_EMAIL=citizen.demo@citizenfirst.gov.rw
DASHBOARD_CITIZEN_PASSWORD=Citizen@12345
SEED_HIERARCHY_TEST_DATA=true
